.box-image {
    position: relative;
    overflow: hidden;

    &:hover {
        .social-icons {
            left: 0;
        }
    }
}

.social-icons {
    height: 100%;
    width: 40px;
    background-color: #4920da;
    position: absolute;
    top: 0;
    left: -40px;
    transition: all .4s;


    li {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        margin-inline: auto;
        margin-bottom: 10px;
        transition: all .4s;

        &,
        &>a {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        &:hover {
            border-radius: 50%;
            background-color: transparent;
        }

        background-color: rgb(0, 0, 0);
    }

    svg {
        fill: #fff;
    }
}